.btn-primary {
    background-color: rgba(212, 171, 7, 0.34) !important;
    border-color:  rgba(208, 168, 10, 0.766);
}

.btn-primary:hover {
    background-color: rgba(212, 171, 7, 0.19);
    border-color:  rgb(208, 168, 10);
}

.btn-primary:focus{
    box-shadow: none;
    border-color: inherit;
}

.dropdown {
    padding: 0 3rem;
    margin-bottom: 5.5rem;
}

.lower{
    background-color: #191919 !important;
}

.btn-outline-success {
    border-color:  rgb(208, 168, 10);
    color: rgb(208, 168, 10);
}

.btn-outline-success:hover {
    background-color: rgba(212, 171, 7, 0.19);
    border-color:  rgb(208, 168, 10);
}

.btn-outline-success:focus {
    background-color: rgba(212, 171, 7, 0.19);
    border: none !important;
}