.item > ul > li {
    display: block !important;
    align-items: center !important;
    margin-top: 2rem;
    margin-left: 25rem;;
}

.item > ul > li > p {
    padding-right: 1rem;
}

.item > ul > li > img {
    user-select: none;
}